# python cache and build
__pycache__/
blazingai.egg-info/
build/
dist/
requirements.txt

# notebook cache
.ipynb_checkpoints/

# IDE
.vscode/
.vim/

# wait until bug is fixed on lightning/pydantic
# ImportError: cannot import name 'Schema' from 'pydantic'
tests/test_utils.py
